.card__blue {
  background-color:blue;
}

.card__yellow {
  background-color:rgb(188, 223, 33);
}

.card__green {
  background-color:rgb(31, 196, 72);
}

.card__red {
  background-color:rgb(228, 13, 13);
}

.card_1_blue {
  background-image: url('./assets/1_blue.png');
}

.card_1_green {
  background-image: url('./assets/1_green.png');
}

.card_1_red {
  background-image: url('./assets/1_red.png');
}

.card_1_yellow {
  background-image: url('./assets/1_yellow.png');
}

.card_2plus_blue {
  background-image: url('./assets/2plus_blue.png');
}

.card_2plus_green {
  background-image: url('./assets/2plus_green.png');
}

.card_2plus_red {
  background-image: url('./assets/2plus_red.png');
}

.card_2plus_yellow {
  background-image: url('./assets/2plus_yellow.png');
}

.card_3_blue {
  background-image: url('./assets/3_blue.jpg');
}

.card_3_green {
  background-image: url('./assets/3_green.png');
}

.card_3_red {
  background-image: url('./assets/3_red.png');
}

.card_3_yellow {
  background-image: url('./assets/3_yellow.png');
}

.card_4_blue {
  background-image: url('./assets/4_blue.jpg');
}

.card_4_green {
  background-image: url('./assets/4_green.png');
}

.card_4_red {
  background-image: url('./assets/4_red.png');
}

.card_4_yellow {
  background-image: url('./assets/4_yellow.png');
}

.card_5_blue {
  background-image: url('./assets/5_blue.png');
}

.card_5_green {
  background-image: url('./assets/5_green.png');
}

.card_5_red {
  background-image: url('./assets/5_red.png');
}

.card_5_yellow {
  background-image: url('./assets/5_yellow.png');
}

.card_6_blue {
  background-image: url('./assets/6_blue.png');
}

.card_6_green {
  background-image: url('./assets/6_green.png');
}

.card_6_red {
  background-image: url('./assets/6_red.png');
}

.card_6_yellow {
  background-image: url('./assets/6_yellow.png');
}

.card_7_blue {
  background-image: url('./assets/7_blue.png');
}

.card_7_green {
  background-image: url('./assets/7_green.png');
}

.card_7_red {
  background-image: url('./assets/7_red.png');
}

.card_7_yellow {
  background-image: url('./assets/7_yellow.png');
}

.card_8_blue {
  background-image: url('./assets/8_blue.png');
}

.card_8_green {
  background-image: url('./assets/8_green.png');
}

.card_8_red {
  background-image: url('./assets/8_red.png');
}

.card_8_yellow {
  background-image: url('./assets/8_yellow.png');
}

.card_9_blue {
  background-image: url('./assets/9_blue.png');
}

.card_9_green {
  background-image: url('./assets/9_green.png');
}

.card_9_red {
  background-image: url('./assets/9_red.png');
}

.card_9_yellow {
  background-image: url('./assets/9_yellow.png');
}

.card_back {
  background-image: url('./assets/card_back.png');
}

.card_change_colorful {
  background-image: url('./assets/change_colorful.png');
}

.card_change_red {
  background-image: url('./assets/change_red.png');
}
.card_change_blue {
  background-image: url('./assets/change_blue.png');
}
.card_change_green {
  background-image: url('./assets/change_green.png');
}
.card_change_yellow{
  background-image: url('./assets/change_yellow.png');
}

.card_plus_blue {
  background-image: url('./assets/plus_blue.png');
}

.card_plus_green {
  background-image: url('./assets/plus_green.png');
}

.card_plus_red {
  background-image: url('./assets/plus_red.png');
}

.card_plus_yellow {
  background-image: url('./assets/plus_yellow.png');
}

.card_stop_blue {
  background-image: url('./assets/stop_blue.png');
}

.card_stop_green {
  background-image: url('./assets/stop_green.png');
}

.card_stop_red {
  background-image: url('./assets/stop_red.png');
}

.card_stop_yellow {
  background-image: url('./assets/stop_yellow.png');
}

.card_taki_blue {
  background-image: url('./assets/taki_blue.png');
}

.card_taki_colorful {
  background-image: url('./assets/taki_colorful.png');
}

.card_taki_green {
  background-image: url('./assets/taki_green.png');
}

.card_taki_red {
  background-image: url('./assets/taki_red.png');
}

.card_taki_yellow {
  background-image: url('./assets/taki_yellow.png');
}