

html{
  height: 100%;
}

#curPlayer{
  font-weight: bold;
}
.container{
  border-style:double;
 }

 fieldset{
  border-style:double;
 }
 

 #createGame{
   margin-right: 0%;
   margin-top: 1%;
 }

div{
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
form{
  font-size: 110%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#logoutBtn{
  margin-left: 2%;
  margin-top: 2%;
}

#login{
  margin-top: 15%;
  margin-left: 40%;
}

#returnLobby{
  margin-left: 7%;
}

.buttons{
  background:    #3d85c6;
  background:    -webkit-linear-gradient(#3d85c6, #073763);
  background:    linear-gradient(#3d85c6, #073763);
  border:        2px solid #fff2cc;
  border-radius: 7px;
  padding:       5px 17px;
  color:         #ffffff;
  display:       inline-block;
  font:          normal 400 20px/1 "Calibri", sans-serif;
  text-align:    center;
  text-shadow:   1px 1px #000000;
}

body
{

  background: linear-gradient(to bottom right,rgb(29, 202, 194),rgb(10, 171, 192) , rgb(0, 132, 255), rgba(125, 107, 226, 0.801));
  height: 95%;

}

#root {
  height: 95%;

}

#menuWrapper
{
    height: 95%;
    position: relative;
}

#finishGameWrapper
{
    height: 95%;
    position: relative;
}

#timer{
  margin-left: 32%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#gameWrapper
{
    height: 100%;
    position: relative;
}

#winLose{
  height: 95%;
}

.taki_logo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    width:auto;
    max-width:20%;
    max-height:20%;
    min-width:27%;
    cursor: pointer;


}
#youLostOrWon{
    font-size: -webkit-xxx-large;
    margin-left: 30%;
}
#prevNextButtons{
  margin-left: 28%;

}
#restart{
  box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px;
    background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
    border-radius: 15px;
    border: 2px solid rgb(51, 48, 41);
    display: inline-block;
    cursor: pointer;
    color: rgb(80, 87, 57);
    height: 35px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}
#quit{
  box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px;
  background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
  border-radius: 15px;
  border: 2px solid rgb(51, 48, 41);
  display: inline-block;
  cursor: pointer;
  color: rgb(80, 87, 57);
  height: 35px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

#replay{
  box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px;
  background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
  border-radius: 15px;
  border: 2px solid rgb(51, 48, 41);
  display: inline-block;
  cursor: pointer;
  color: rgb(80, 87, 57);
  height: 35px;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  text-shadow: rgb(255, 255, 255) 0px 1px 0px;
  margin-left: 10%;
  margin-top: 10%;
}
#prevNextButtons>#prev{
  box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px;
    background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
    border-radius: 15px;
    border: 2px solid rgb(51, 48, 41);
    display: inline-block;
    cursor: pointer;
    color: rgb(80, 87, 57);
    height: 35px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}
#prevNextButtons>#next{
  box-shadow: rgb(28, 27, 24) 0px 1px 0px 0px;
    background: linear-gradient(rgb(234, 224, 194) 5%, rgb(204, 194, 166) 100%) rgb(234, 224, 194);
    border-radius: 15px;
    border: 2px solid rgb(51, 48, 41);
    display: inline-block;
    cursor: pointer;
    height: 35px;
    color: rgb(80, 87, 57);
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}
/* 
#playerThreeStats>div{
  margin-left: 25%;
} */

#winLose >#stats>#playerThreeStats> div{
  margin-left: 25%;
}
/* #winLose >#stats>#playerThreeStats{
  margin-left: 25%;
} */
#playerFourStats>div{
  margin-left: 75%;
}

#stats{
  position: absolute;
  bottom: 30%; 
  left:15%;
  right:5%; 
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

  #stats >#playerStats >.playerTurn{
    position: absolute;
    background-image: url('./assets/playerOnePic.png');
    bottom: 140%;
    margin-left: 2%;
    width: 18%;
    height: 200%;
    transition: 200ms ease margin;
    background-size: 100% 100%;
    max-width: 128px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.18);
    background-repeat: no-repeat;
    border-radius: 50px;
    border: rgb(34, 175, 163);
  }

  #stats >#playerThreeStats >.playerThreeTurn{
    position: absolute;
    background-image: url('./assets/playerThreePic.png');
    bottom: 140%;
    margin-left: 25%;
    width: 18%;
    height: 200%;
    transition: 200ms ease margin;
    background-size: 100% 100%;
    max-width: 128px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.18);
    background-repeat: no-repeat;
    border-radius: 50px;
    border: rgb(34, 175, 163);
  }

  #stats >#playerFourStats >.playerFourTurn{
    position: absolute;
    background-image: url('./assets/playerFourPic.png');
    bottom: 140%;
    margin-left: 75%;
    width: 18%;
    height: 200%;
    transition: 200ms ease margin;
    background-size: 100% 100%;
    max-width: 128px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.18);
    background-repeat: no-repeat;
    border-radius: 50px;
    border: rgb(34, 175, 163);
  }

  #playerStats{ 
    position: absolute;
    bottom: 23%; 
    left:5%;
    right:5%; 
    display: inline-block;
  }

  #botStats{
    position: absolute;
    bottom: 23%; 
    left:5%;
    right:5%; 
    display: inline-block;
  }

  #playerThreeStats{
    position: absolute;
    bottom: 23%; 
    left:5%;
    right:5%; 
    display: inline-block;
  }

  #playerFourStats{
    position: absolute;
    bottom: 23%; 
    left:5%;
    right:5%; 
    display: inline-block;
  }

  #myStats{
    position: absolute;
    bottom: 23%; 
    left:50%;
    right:5%; 
    display: inline-block;
  }


  #winLose >#stats>#botStats> div{
    margin-left: 50%;
  }
  #winLose >#stats>#botStats >.botTurn{
    margin-left: 50%;
  }


  #stats>#playerFour >.playerFourTurn{
    position: absolute;
    background-image: url('./assets/playerFourPic.png');
    bottom: 140%;
    margin-left: 2%;
    width: 18%;
    height: 200%;
    transition: 200ms ease margin;
    background-size: 100% 100%;
    max-width: 128px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.18);
    background-repeat: no-repeat;
    border-radius: 50px;
    border: rgb(34, 175, 163);
    }



  #stats>#playerThree >.playerThreeTurn{
    position: absolute;
    background-image: url('./assets/playerThreePic.png');
    bottom: 140%;
    margin-left: 2%;
    width: 18%;
    height: 200%;
    transition: 200ms ease margin;
    background-size: 100% 100%;
    max-width: 128px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.18);
    background-repeat: no-repeat;
    border-radius: 50px;
    border: rgb(34, 175, 163);
    }


  #stats>#botStats >.botTurn{
    position: absolute;
    background-image: url('./assets/playerTwoPic.png');
    bottom: 140%;
    margin-left: 2%;
    width: 18%;
    height: 200%;
    transition: 200ms ease margin;
    background-size: 100% 100%;
    max-width: 128px;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.18);
    background-repeat: no-repeat;
    border-radius: 50px;
    border: rgb(34, 175, 163);
    }

    #playerThree {
      position: absolute;
      top: 10%;
      left:5%;
      right:5%;
      display: inline-block;
    }

    #playerFour {
      position: absolute;
      top: 10%;
      left:85%;
      right:5%;
      display: inline-block;
    }

   #bot {
    position: absolute;
    top: 5%;
    left:5%;
    right:5%;
    display: inline-block;
  }
  
  #player {
    position: absolute;
    bottom: 23%; 
    left:5%;
    right:5%; 
    display: inline-block;
  }

  #pile > .notValidAction{
    position: absolute;
    margin-left: -13%;
    margin-top: 2%;
    background-image: url('./assets/cancel.png');
    width: 70%;
    height: 70%;
    background-size: 100% 100%;
    border: none;
    border-radius: 50%;
  }


  #deck > .card:hover{
      cursor: pointer;
  }  


  #deck  {
    position: absolute;
    height: 190px;
    width: 150px;
    top: 40%;
    right: 15%;
  }

  .offset {
    left: 20px;
    position: absolute;
    top: 20px;
  }

  #pile {
    position: absolute;
    top: 50%;
    left: 55%;
    width: 210px;
    height: 200px;
    margin-top: -100px; /*set to a negative number 1/2 of your height*/
    margin-left: -105px; /*set to a negative number 1/2 of your width*/
  }

  .overLapCard{
    position: absolute;
  }

  .card {
    display: inline-block;
    width: 13%;
    max-width:90px ;
    height: 126px;
    border-radius: 12px;
    background: rgb(255, 238, 221);
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.18);
    transition: 200ms ease margin;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  #pile>.card{
    width: 45%;
  }
  #deck>.card{
    width: 63%;
  }

/* 
 .container
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
 } */

#startGame
{
  display: block;
  margin-top: 180px;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  width:auto;
  max-width:20%;
  max-height:20%;
  cursor: pointer;

}

#player > .card:hover { /*going to id player , and to all childs with class card do this*/
  margin-top: 30px;
  transition: 200ms ease margin;
  cursor: pointer;
}

.screen_center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50%; /* this is half the height of your div*/
  margin-left: -65%;

}

.red{
  background-color: indianred;
  border-radius: 12px;

}

.blue{
  background-color: dodgerblue;
  border-radius: 12px;

}
.green{
  background-color: limegreen;
  border-radius: 12px;

}
.yellow{
  background-color: yellow;
  border-radius: 12px;

}

.btn-group button {

  border: 1px solid white; /* Green border */
  /*color: white; !* White text *!*/
  padding: 40px 40px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  display: flow;
}

